body { background-color: #FFFFFF;
        color: #666666; 
        font-family: Arial, Helvetica, sans-serif;}

header { background-color: #002171;
        color: #FFFFFF;
        background-image: url("C:\Users\mosin\OneDrive\Documents\School Spring 2022\IT1150-MatthewMosinski-Intro to Web programming-Spring2022\IT1150--MatthewMosinski-Spring2022\Lab5\images\sunset.jpg");
        background-position: right;
        background-repeat: no-repeat;  
        line-height: 400%;
        text-indent: 1em;}
        
h1 { margin-bottom: 0;
        font-family: Georgia, 'Times New Roman', Times, serif; }

nav { background-color: #BBDEFB;
        font-weight: bold; }

nav a{text-decoration: none;}

h2 { color: #1976D2;
        font-family: Georgia, 'Times New Roman', Times, serif; }
h3 {color: #000033;
        font-family: Georgia, 'Times New Roman', Times, serif;}
        
main ul{list-style-image: url("C:\Users\mosin\OneDrive\Documents\School Spring 2022\IT1150-MatthewMosinski-Intro to Web programming-Spring2022\IT1150--MatthewMosinski-Spring2022\Lab5\images\marker.gif");}

footer{font-size: 75%;
font-style: italic;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;}

dt { color: #002171; }

.resort { color: #1976D2;
font-weight: bold; }

#contact{ color: black;
        font-size: 90%;}

